@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Nata+Sans:wght@100..900&display=swap');
@import 'tailwindcss';

@theme {
	--font-natasans: 'Nata Sans', sans-serif;
	--font-chivo-mono: 'Chivo Mono', monospace;
}

.loader {
	border: 5px solid #fff;
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@layer utilities {
	::-webkit-scrollbar {
		width: 5px;
		height: 10px;
	}
	::-webkit-scrollbar-track {
		border-radius: 100vh;
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background: #ffffff;
	}
	::-webkit-scrollbar-thumb:hover {
		background: #d1d5dc;
	}

	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
		-webkit-text-fill-color: white !important;
		-webkit-box-shadow: 0 0 0px 1000px #1e2939 inset !important;
		caret-color: white !important;
	}
}
